.containerNoticias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem;
    width: 95%;
    height: auto;
}

.Noticias{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 70%;
}

.Noticias h2{
    font-size: 38px;
}

.introNoticias {
    position: relative; 
    width: 100%;
    height: 50vh;

}

.introNoticias::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../../assets/noticias.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    filter:brightness(.7);
    opacity: 0.8; 
    z-index: -1; 
}


.introNoticias h1{
    display: flex;
    position: absolute;
    background-color: var(--background);
    padding: 1rem;
    border-radius: 10px;
    top: calc(50%);
    left: calc(50% - 9vw);
    font-size: 48px;
}



.soraNoticias,
.soraNoticia{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
    margin-bottom: 5rem; 
    border-bottom: 2px solid #ccc; 
    padding-bottom: 5rem;
}

.soraNoticias2{
    display: none;
}

.leftNew,
.rightNew{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


/* componente CarNoticias */

.cardNew {
    width: 350px;
    height: 400px;
    background: var(--background);
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

}
.cardNew:hover{
    transform: translate(2px, 2px);
}
   
.shadowNew {
    box-shadow: 4px 3px 16px -4px rgba(0,0,0,0.7);
-webkit-box-shadow: 4px 3px 16px -4px rgba(0,0,0,0.7);
-moz-box-shadow: 4px 3px 16px -4px rgba(0,0,0,0.7);
}

.titleCardNew{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--purple1);
    margin: .5rem;
}

.infoCardNew{
    color: var(--purple1);
    margin-left: 1rem;
}

.imageCardNew {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.imageCardNew img{
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .cardNew {
       transform: scale(.8);
    }
    .titleCardNew{
        margin: 0rem;
    }


    .containerNoticias{
        height: auto;
        margin: 1rem;
        width: 90%;
    }
    .introNoticias h1{
        top: calc(40%);
        left: calc(15%);
        font-size: 35px;
    }

    .Noticias{
        gap: 0rem;
    }
    
    .Noticias h1{
        font-size: 25px;
    }


    .soraNoticias{
        flex-direction: column;
        gap: 0rem;
        padding-bottom: 0rem;
        width: 80%;

    }
    .soraNoticias img{
        width:25rem;
    }
    
    
    .leftNew,
    .rightNew{
        align-items: center;
      transform: scale(.9);
      width: 400px;
      margin-left: 0rem;
    }


    .leftNew h1, span{
        width: 400px;
        margin-left: 1rem;
    }
    .leftNew h1,
    .rightNew h1{
        font-size: 20px;
    }


    .rightNew h1, span{
        width: 400px;
        margin-left: 1rem;

        
    }
    
    
    
   

    
}